{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in bag.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100 bag-img" src="{{ image.image.url }}" alt="{{ bag.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{ bag.name }}</h2>
                    <p class="card-text">{{ bag.description }}</p>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        {% if bag.discount == 0 %}
                            <span class="h4 text-success">{{ bag.price }} руб.</span>
                        {% else %}
                            <span class="h4 text-danger" style="text-decoration: line-through;">{{ bag.price }} руб.</span>
                            <span class="h4 text-success">{{ bag.discounted_price }} руб.</span>
                        {% endif %}
                    </div>
                    <div class="text-center mt-4">
                        <a href="{% url 'shop:order_form'  %}" class="btn btn-primary btn-lg">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
