{% extends "base.html" %}

{% block title %} Все сумки {% endblock %}

{% block content %}

    <a href="{% url 'shop:detail' %}">
        <div class="container mt-3">
            <div class="row">
                {% for bag in bags %}

                    <div class="col-4">
                        <div class="card">


                            <img class="bag-img" src="{{ bag.image.url }}" alt="{{ bag.name }}" width="216px" height="200px">


                            <div class="card-body">
                                {{ bag.name }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </a>
{% endblock %}
