{% extends 'base.html' %}

{% block content %}
<h2>Профиль пользователя</h2>

<h3>Мои заказы</h3>
{% if user_orders %}
    <ul>
        {% for order in user_orders %}
        <li>
            <strong>Заказ №{{ order.id }}</strong> от {{ order.created_at|date:"d.m.Y H:i" }}<br>
            <ul>
                {% for item in order.items.all %}
                <li>{{ item.product.name }} — {{ item.quantity }} шт.</li>
                {% endfor %}
            </ul>
            <p>Итоговая сумма: {{ order.total_sum }} руб.</p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Вы еще не сделали ни одного заказа.</p>
{% endif %}
{% endblock %}
